/proto/scr
/cmake-build-debug-cygwin/CMakeFiles/3.10.3
/cmake-build-debug-cygwin
/.idea
/cmake-build-debug-wsl
/cmake-build-debug
/cmake-build-debug-mingw
/cmake-build-debug-visual-studio
/cmake-build-release-wsl
/.vs
/cmake-build-debug-wsl_ninja
/cmake-build-release-mingw
/msbin
